
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

<meta name="viewport" content="width=device-width" />
<title>@ViewData["Title"]</title>
<link href="~/css/site.css" rel="stylesheet"/>
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="alert alert-info text-center">Header</div>
    @RenderBody()
	<div class="alert alert-info text-center"> Floot</div>
</body>

</html>
