@model Department
@{
    ViewData["Title"] = "Create Department";
    Layout = "_Layout";
}

<h1 class="alert alert-info text-center"> Adding Department</h1>
<form method="post">
    
    <div class="col-md-5 form-floating mb-3">
        <input asp-for="DeptId" type="text" class="form-control">
        <label for="DeptId">Department Id</label>
        <span asp-validation-for="DeptId"></span>
    </div>
    <div class="col-md-5 form-floating mb-3">
        <input asp-for="DeptName" type="text" class="form-control">
        <label for="DeptName">Department name</label>
        <span asp-validation-for="DeptName"></span>
    </div>
    <a asp-controller="departments" asp-action="index" class="btn btn-primary">Back</a>
    &nbsp;
    <input class="btn btn-danger col-md-2" type="submit" value="add" />
</form>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        }

